In [156]:
from pybedtools import BedTool
import pandas as pd

In [176]:
varients = pd.read_csv('dataSets/table-S2-fixed.bed', sep='\t',
                header=None, names=['chrom','start','stop','patientStatus',
                                   'varType'])

In [183]:
varients.head(2)

  chrom   start    stop patientStatus varType
0  chr1  822758  822759       control     SNV
1  chr1  842732  842733          case     SNV

In [195]:
varients['patientStatus'].unique()

array(['control', 'case'], dtype=object)

In [270]:
indels = varients.query('varType == "Indel"').copy()

In [250]:
indels.head(3)

   chrom    start     stop patientStatus varType
34  chr1   979963   979964       control   Indel
39  chr1  1020289  1020290          case   Indel
49  chr1  1067357  1067358       control   Indel

In [313]:
indelsBed = BedTool.from_dataframe(indels)

In [314]:
type(indelsBed)

pybedtools.bedtool.BedTool

In [315]:
print(indelsBed.head())

chr1	979963	979964	control	Indel
 chr1	1020289	1020290	case	Indel
 chr1	1067357	1067358	control	Indel
 chr1	1243669	1243670	case	Indel
 chr1	1292422	1292423	case	Indel
 chr1	1308643	1308644	control	Indel
 chr1	1415072	1415073	control	Indel
 chr1	1428455	1428456	case	Indel
 chr1	1452484	1452485	case	Indel
 chr1	1498147	1498148	case	Indel
 None

Need to take out the error line, where start > end

In [351]:
HARs = pd.read_csv('dataSets/capra_hars_hg38.bed', sep='\t',
                header=None, names=['chrom','start','stop','name'])

In [359]:
HARcsv = HARs.query("(start < stop) and (start != 0) and (stop != 0)").copy()

In [360]:
HARsBed = BedTool.from_dataframe(HARcsv)

In [361]:
print(indelsBed.intersect(HARsBed))

chr12	60522946	60522947	control	Indel
chr12	79068300	79068301	control	Indel